* {
	padding: 0px;
	margin: 0px;
}

.main {
	height: 100px;
	width: 1000px;
	margin: auto;
	border: 0.1px solid black;
	display: flex;
	flex-direction: row;/*	flex-direction: row-reverse;*/

	/*	flex-direction: column;*/

	/*	flex-direction: column-reverse;*/

	justify-content: center;
/*	justify-content: flex-start;*/
/*	justify-content: flex-end;*/
/*	justify-content: space-between;*/
/*	justify-content: space-evenly;*/
/*	justify-content: space-around;*/

/*	align-items: flex-start;*/
/*	align-items: flex-end;*/
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	align-content: center;
}

.main>div {
	width: 100px;
	border: 0.1px solid blue;
/*	text-align: center;*/
}
