*{
    padding: 0px;
    margin: 0px;
}
.main{
    /* border: 0.1px solid black; */
}
.gallery{
    display: flex;
    width: 850px;
    margin: auto;
    border: 0.1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;

}
.gallery div{
    /* border: 0.1px solid blue; */
    margin: 20px 0px;
}
.gallery>div>img{
    width: 250px;
    height: 200px;
}