*{
    padding: 0%;
    margin: 0%;
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}
a{
    color: inherit;
    text-decoration: none;
}
.clear{
    clear: both;
}
.main{
    width: 75%;
    background-image: url("../images/headerbg.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}
#header{
    padding: 80px 20px 680px 0px;
    border-bottom: #182d55 14px solid;
}
.img1{
    float: right;
    margin-left: 20px;
}
.img1>img{
    width: 400px;
}
.img2{
    float: right;
    width: 125px;
}
.img2>img{
    width: inherit;
}
/* Menubar */
#menubar{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0px 405px 0px;
}
#menubar>ul{
    list-style: none;
    width: 82%;
    margin: auto;
}
#menubar>ul>li{
    float: left;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    border-right: 2px solid white;
    padding: 10px 35px;
}
#menubar>ul>li:nth-child(5){
    border: 0px;
}
.images_r{
    height: 260px;
    background: #182d55  url('../images/helicopters.jpg') no-repeat center center;
}
.upper{
    background-attachment: fixed;
    background-position: 0% 0%;
    background-size: cover;
}
#aerial>.upper{
    background-image: url('../images/frameimg1.jpg');
}
#helicopter> .upper{
    background-image: url('../images/frameimg2.jpg');
}
#flight_training> .upper{
    background-image: url('../images/frameimg3.jpg');
}
#charters> .upper{
    background-image: url('../images/frameimg4.jpg');
}
#contact_us> .upper{
    background-image: url('../images/frameimg5.jpg');
}
.upper_heading{
    width: 70%;
    padding: 130px 0px;
    margin: auto;
}
#aerial .upper_heading{
    width: 65%;
}
#helicopter .upper_heading{
    width: 67%;
}
#flight_training .upper_heading{
    width: 69%;
}
#charters .upper_heading{
    width: 56%;
}
#contact_us .upper_heading{
    width: 58%;
}
.side_line{
    border: 3px solid white;
    width: 210px;
    float: left;
}
.mid{
    float: left;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
    border: 10px solid white;
}
.side_line{
    margin-top: 28px;
    border: 3px solid white;

}
.lower{
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    background: white;
    color: #182D55;
    padding:100px 30px 100px 30px;
}
.lower_r{
    padding-bottom: 20px;
}
#contact_us .lower_r>div:nth-child(1){
    margin: 10px 0px;
}
.lower_mid{
padding-top: 50px;
line-height: 30px;
}
#contact_us .lower_mid{
    padding: 0px;
}
.lower_img{
    padding-top: 80px;
}
.back_to_top{
    padding-top: 30px;

}
#contact_us .back_to_top{
    border-top: #273b60 2px solid;
    margin-top: 100px;
    padding-top: 40px;
}